<p>Hello from Simple Status!</p>

<p>Your account has been created and you can sign in at:</p>

<p><%= customer_root_url %></p>

<p>Your free trial will last thirty-days. You can cancel, upgrade, or downgrade at any time.</p>

<p>If you have any questions or comments, please contact <%= mail_to 'support@barbershoplabs.com' %></p>

<p>Sincerely,<br/>
Your friends at Simple Status</p>
