<div class="span12" style="text-align: center">

  <hr/>
  <h1>Status reports suck.</h1>
  <h1>We make them suck less.</h1>
  <hr/>
  <br/><br/>

  <div class="row demo-tiles">
    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Compas_2x.png" alt="Compas_2x" class="tile-image big-illustration">
        <h3 class="tile-title">Web Oriented</h3>
        <p>100% convertable to HTML/CSS layout.</p>
      </div>
    </div>

    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Infinity-Loop_2x.png" alt="Infinity-Loop_2x" class="tile-image">
        <h3 class="tile-title">Easy to Customize</h3>
        <p>Vector-based shapes and minimum of layer styles.</p>
      </div>
    </div>

    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Pensils_2x.png" alt="Pensils_2x" class="tile-image">
        <h3 class="tile-title">Color Swatches</h3>
        <p>Easy to add or change elements blah blah. </p>
      </div>
    </div>

    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Chat_2x.png" alt="Chat_2x" class="tile-image">
        <h3 class="tile-title">Free for Share</h3>
        <p>Your likes, shares and comments helps us.</p>
      </div>
    </div>
  </div>
</div>
