<p>Hello from Simple Status!</p>

<p>This is a friendly reminder that you have been requested to provide an update as a member of team: <%= @team.name.titleize %> at <%= @organization.subdomain.titleize %>.</p>

<p>To provide your update, simply reply to this email!</p>

<p>Sincerely,<br/>
Your friends at Simple Status</p>

<br/><br/><br/><br/>

<p>Do not delete anything below this line!</p>

<p>
====================================================================================<br/>
Status Report: <%= @token %><br/>
====================================================================================
</p>

