<div class="span12">
  <div class="alert alert-info">
    <h3>This account is inactive!</h3>
    <p>Please contact your company's administrator, or contact <%= mail_to 'support@barbershoplabs.com'%>.</p>
  </div>
</div>
