<div class="span12">
  <h2>New Status Report Team</h1>

  <% if @current_organization.teams_remaining_per_plan? %>
    <%= render 'form' %>
  <% else %>
    <div class="alert alert-error">
      <button type="button" class="close fui-cross" data-dismiss="alert"></button>
      You have reached your team limit. To create more teams, please upgrade your account.
    </div>
  <% end %>
</div>
