<title>Simple Status: Dead Simple Status Reports</title>
<meta content="Simple Status provides dead simple status and progress reporting for your teams" name='description'>
<meta content='status reports, progress reports, performance management, simple status reports, team analysis, progress updates, status updates' name='keywords'>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<% if Rails.env.production? %>
  <script type="text/javascript">Stripe.setPublishableKey('pk_neubDI84lQmB6lgnlJRD885GqtazV');</script>
<% else %>
  <script type="text/javascript">Stripe.setPublishableKey('pk_sgMGdcpy0H8F1OqdH0J7esjxavF0O');</script>
<% end %>
